{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "space-before-blocks": ["error", "always"]
  }
}